#!/bin/bash

numactl --membind=0 --cpunodebind=0 /odin/python/bin/xspress_meta_writer -w xspress_detector.data.xspress_meta_writer.XspressMetaWriter {sensor_shape} --data-endpoints {meta_endpoints} --static-log-fields detector="Xspress3"
